extends ../layout

include ../templates/bootstrap-accordion

block content
  +accordion('accordion')
    +accordion-item-primary('Active items', 'accordion', true)
      ul.arrow-list
        each sre in sres
          if sre.status == 'active'
            li
              | SRE: 
              a(href='admin/sres/'+sre._id)
                |Searching for [
                =sre.keywords
                |] in [
                =sre.platforms
                |]
        - var itemNameDict = ['Query', 'Process', 'Result']
        - var collNameDict = ['queries', 'processes', 'results']
        each list, idx in [queries, processes, results]
          each item in list
            if item.status == 'active'
              li
                a(href='admin/'+collNameDict[idx]+'/'+item._id)
                  =itemNameDict[idx]
                  |: 
                  if idx == 0
                    =item.descr
                  else if idx == 1
                    | ProcessDummy
                  else if idx == 2
                    | ResultDummy
        //- each query in queries
        //-   if query.status == 'active'
        //-     li
        //-       | Query: 
        //-       a(href='admin/queries/'+query._id)
        //-         =query.descr
        //- each process in processes
        //-   if process.status == 'active'
        //-     li
        //-       | Process: 
        //-       a(href='admin/process/'+query._id)
        //-         =query.descr
        //- each query in queries
        //-   if query.status == 'active'
        //-     li
        //-       | Query: 
        //-       a(href='admin/queries/'+query._id)
        //-         =query.descr
    +accordion-item-info('Draft items (opened refered queries)', 'accordion', false)
      ul.arrow-list
        each query in queries
          if query.status == 'draft'
            li
              | Query: 
              a(href='admin/queries/'+query._id)
                =query.descr
    +accordion-item-default('Default options (if out of active- and draft-items)', 'accordion', false)
      ul.arrow-list
        li
          a(href='/admin/queries') Independant Query
        li
          a(href='/admin/sres') Independant SRE
