extends ../layout

block content
  h1 Open Literature Researches

  ul
    each litRes in litReses
      li
        h4
          b
            | "#{litRes.title}" 
          //- | by #{litRes.researcher} supervised by #{litRes.supervisor}
        ul  
          li
            a(href='/admin/'+litRes._id) Go to 'WIP Literature Research'
          li
            a(href='/visualization/'+litRes._id) Go to 'Research Overview'
          li
            a(href='/visualization/'+litRes._id+'/sources') Go to 'Collected Sources'
