extends ../layout


block content
  h1 Creating: Result

  form#newQuery-form.well(action="#" onsubmit="event.preventDefault(); saveQuery();")
    .form-group
      input.form-control(type="hidden" name="prev_ptr")
      // ts added upon submission
      label(for="descr")
        | Description
      textarea.form-control(name="descr" rows="12" onchange="saveQueryDraft();" required)
      label(for="srcs")
        | Sources important to the query:
      select.form-control(name="srcs" size="9" onchange="saveQueryDraft();" multiple required)
        each source in sources
          option(value=source._id)
            |"
            =source.title 
            |" by 
            =source.authors
      button.btn.btn-info(type="button" data-toggle="modal" data-target="#addNextQuery-modal" style="margin:1em; float: right;") Open connected Query
      button.btn.btn-link(type="button" style="margin:1em; float: right;" onclick="engageSre();") Engage respective SRE
    input.btn.btn-success(type="submit")

  include addNextQuery-modal

  //- script(src="/scripts/query.js")