extends ../layout


block content
  h1 Creating: Result

  form#newResult-form.well(action="#" onsubmit="event.preventDefault(); saveResult();")
    .form-group
      .well-sm#qpLinks
        // added upon page-rdy
      label(for="q-researchEffort")
        | Research Effort 
        span(class="glyphicon glyphicon-info-sign" title="How difficult / time-consuming was answering the query?")
      input(type="number" name="q-researchEffort" class="form-control" min="0", max="7" onchange="saveResultDraft();" required)
      label(for="q-novelty")
        | Novelty 
        span(class="glyphicon glyphicon-info-sign" title="How new / uncommon is the topic?")
      input(type="number" name="q-novelty" class="form-control" min="0", max="7" onchange="saveResultDraft();" required)
      label(for="q-qor")
        | Quality of Result 
        span(class="glyphicon glyphicon-info-sign" title="How satisfying was the final result?")
      input(type="number" name="q-qor" class="form-control" min="0", max="7" onchange="saveResultDraft();" required)
      input.form-control(type="hidden" name="prev_ptr")
      // ts added upon submission
      label(for="tldr")
        | TLDR
      textarea.form-control(name="tldr" rows="3" onchange="saveResultDraft();" required)
      label(for="descr")
        | Description
      textarea.form-control(name="descr" rows="9" onchange="saveResultDraft();" required)
      button.btn.btn-info(type="button" data-toggle="modal" data-target="#addNextQuery-modal" style="margin:1em; float: right;") Open connected Query
    input.btn.btn-success(type="submit")

  include addNextQuery-modal

  script(src="/scripts/result.js")