extends layout

include ./templates/bootstrap-accordion
include ./templates/bootstrap-modal

block content

  h1 Platform for Literature Research
  
  //- p
  //-   center
  //-     button.btn.btn-info(type="button" data-toggle="modal" data-target='#startNewLitRes-modal')
  //-       | Start new Literature Research

  h2 Open literature researches
  +accordion('accordion')
    each litRes in info
      +accordion-item-default(litRes.title, 'accordion') 
        dl.row
          dt.col-sm-3 Researcher
          dd.col-sm-9
            =litRes['researcher']
          dt.col-sm-3 Supervisor
          dd.col-sm-9
            =litRes['supervisor']
          dt.col-sm-3 Latest Update
          dd.col-sm-9
            =new Date(litRes['latest-Update'])
        h4 Research Question
        .well
          =litRes['research-Question']
        h4 Links to result visualizations
        .well.link-well(onclick='window.location = "/visualization/sources";')
          | Sources-Catalogue
        .well.link-well(onclick='window.location = "/visualization";')
          | Progress Overview
