extends ../layout

include ../templates/bootstrap-modal

block content
  -var tableDisplayKeys = ['title', 'date', 'keywords', 'authors', 'type', 'url', 'q-subjectRelevance', 'q-informativeContent', 'q-context', 'q-illustration']
  
  h1 Collected Sources
  
  table.table.table-striped
    thead
      tr
        each key in tableDisplayKeys
          th
            if (key === 'q-subjectRelevance')
              | Subject Relevance
            else if (key === 'q-informativeContent')
              | Informative Content
            else if (key === 'q-context')
              | Context
            else if (key === 'q-illustration')
              | Illustration
            else
              =key
    tbody
      each src, i in sources
        tr
          each key in tableDisplayKeys
              if (key.substring(0,2) === 'q-')
                td(style="text-align:center;vertical-align:middle; color:white;background:rgb(0,"+21*src[key]+","+21*src[key]+");")
                  =src[key]
              else if (key === 'title')
                td
                  a(href='#'+src['_id'] data-toggle="modal")
                    =src[key]
              else
                td
                  =src[key]
        +modal(src['_id'], src['title'], "Urldate: "+src['urldate'])
          h3 Abstract:
            p.well.small
              =src['abstract']
          h3 Comment:
            p.well.small
              =src['comment']
          
  //- +accordion('accordion')
  //-   +accordion-item-primary('Active items', 'accordion', true)
  //-     ul.arrow-list
  //-       each sre in sres
  //-         if sre.status == 'active'
  //-           li
  //-             | SRE: 
  //-             a(href='admin/sres/'+sre._id)
  //-               |Searching for [
  //-               =sre.keywords
  //-               |] in [
  //-               =sre.platforms
  //-               |]
  //-       - var itemNameDict = ['Query', 'Process', 'Result']
  //-       - var collNameDict = ['queries', 'processes', 'results']
  //-       each list, idx in [queries, processes, results]
  //-         each item in list
  //-           if item.status == 'active'
  //-             li
  //-               a(href='admin/'+collNameDict[idx]+'/'+item._id)
  //-                 =itemNameDict[idx] 
  //-                 if idx == 0
  //-                   | 
  //-                   |(
  //-                   =item.descr
  //-                   |)
  //-                 //- else if idx == 1
  //-                 else if idx == 2           
  //-                   | 
  //-                   |(
  //-                   =item.tldr
  //-                   |)
  //-   +accordion-item-info('Draft items (opened refered queries)', 'accordion', false)
  //-     ul.arrow-list
  //-       each query in queries
  //-         if query.status == 'draft'
  //-           li
  //-             | Open Query: 
  //-             a(href='admin/queries/'+query._id)
  //-               =query.descr
  //-   +accordion-item-default('Default options (if out of active- and draft-items)', 'accordion', false)
  //-     ul.arrow-list
  //-       li
  //-         a(href='/admin/queries') Independant Query
  //-       li
  //-         a(href='/admin/sres') Independant SRE
