extends ../layout

include ../templates/bootstrap-modal

block content
  link(rel='stylesheet', href='/stylesheets/visu_srcs.css')
  -var tableDisplayKeys = ['title', '#', 'date', 'keywords', 'authors', 'type', 'url', 'q-subjectRelevance', 'q-informativeContent', 'q-context', 'q-illustration']
  
  h1 Collected Sources
  .container-fluid
    .table-responsive
      table.table.table-striped
        thead
          tr
            each key in tableDisplayKeys
              th
                if (key === 'q-subjectRelevance')
                  | Subject Relevance
                else if (key === 'q-informativeContent')
                  | Informative Content
                else if (key === 'q-context')
                  | Context
                else if (key === 'q-illustration')
                  | Illustration
                else
                  =key
        tbody
          each src, i in sources
            tr
              each key in tableDisplayKeys
                  if (key.substring(0,2) === 'q-')
                    td.td-q(style="background:rgb(0,"+21*src[key]+","+21*src[key]+");")
                      =src[key]
                  else if (key === 'title')
                    td.td-md
                      a(href='#'+src['_id'] data-toggle="modal")
                        =src[key]
                  else if (key === 'url')
                    td
                      a(href=src[key] target="_blank")
                        =src[key].substring(0,30)+"..."
                  else if (key === '#')
                    td
                      =src.litRes.length
                  else
                    td.td-lg
                      =src[key]
            +modal(src['_id'], src['title'], "Urldate: "+src['urldate'])
              h4 Abstract:
                p.well.small
                  =src['abstract']
              h4 Comment:
                p.well.small
                  =src['comment']
              p
                | Used in #{src.litRes.length} lit. research:
                ul
                  each litRes in src.litRes 
                    li
                      a(href='/visualization/'+litRes, target='_blank') #{litRes}
              
