extends ../layout

block content
  h1 Engage:
  p
    ul(class="arrow-list" style="font-size: 1.3em;")
      li 
        a(href='/admin/sre') New (independent) SRE
      li 
        a(href='/admin/query') New Query-item
      //- li 
      //-   a(href='/admin/query') New Result-item
      //- li 
      //-   a(href='/admin/query') New Process-item