extends ../layout

block content
  h1 Create Source Retrieval Effort (SRE)

  form(id="newSRE-form" action="#" class="well" onsubmit="event.preventDefault(); saveSre();")
    div(class="form-group")
      // ts added upon submission
      label(for="platforms")
        | Platforms
      input(type="text" name="platforms" class="form-control" placeholder="Google, Google Scholar, Linkedin, ..." onchange="saveSreDraft();" required)
      label(for="keywords")
        | Keywords
      input(type="text" name="keywords" class="form-control" placeholder="cbr, case based reasoning, dl, artificial intelligence, ..." onchange="saveSreDraft();" required)
      label(for="sources")
        | Sources:
      input(type="hidden" name="sources" class="form-control")
      button(type="button" class="btn btn-info" data-toggle="modal" data-target="#addSource-modal" style="margin:1em;") Add source
      ul(id="retrievedSources-ul")
        // loaded via js
      label(for="backlog")
        | Browsing Backlog
      input(type="file" name="backlog" size="50" accept="text/*" onchange="saveSreDraft();" required)
    input(type="submit" class="btn btn-success")
  
  include addSource-modal

  script(src="/scripts/sre.js")
